
@{
    Layout = "~/Views/Shared/_LayoutPage_Auth.cshtml";
}



<form action="#" method="post" id="rpForm">
    <div class="panel-body">
        <div class="mar-ver pad-btm">
            <h1 class="h3">Reset Password</h1>           
        </div>

        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" autofocus>
        </div>
        <div class="form-group">
            <input name="cnfpassword" type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <div id="demo-error-container" class="bg-gray-light"></div>
        </div>        
        <button class="btn btn-primary btn-lg btn-block" type="submit">Reset</button>

    </div>
</form>
<div class="panel-footer">
    @if (ViewBag.Error_Msg != "")
    {
        <p style="color:red">@ViewBag.Error_Msg</p>
    }
</div>

<script>
    function resetPassword() {
        $.ajax({
            url: '/AdminSeting/AddLeadStatus',
            dataType: "html",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ StatusName: $("#SName").val(), StatusColour: $("#SColour").val(), template: dt, TextTemplate: $('#smsTemplate').val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data != '') {
                    // alert('s');
                    $("#StatusModal").modal('hide');
                    $("#SName").val('');
                    $("#StatusTable_Widget").html('');
                    $("#StatusTable_Widget").html(data);
                    $(".se-pre-con").hide();
                }
                else {
                    // alert('f');
                    $("#StatusModal").modal('hide');
                    $("#SName").val('');
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                // alert('e');
                $('#errorMessage').html("No connection");
            }
        });
    }
</script>





